:root {
  --background: #EAE6E5;
  --text-color: #272B31;
  --title-color: #E2994F;
  --button-color: #406BC2;
  --shadow: #59626D;

  --title: "audiowide", sans-serif;
  --para: "Raleway", sans-serif;
}

/* // Reset */
body {
  background-color: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  list-style-type: none;
}

